@font-face {
    font-family: 'TT Lakes Regular';
    src: url('./fonts/TTLakes-Regular.eot');
    src: url('./fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/TTLakes-Regular.woff') format('woff'),
         url('./fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

    @font-face {
        font-family: 'TT Lakes Bold';
        src: url('./fonts/TTLakes-Bold.eot');
        src: url('./fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTLakes-Bold.woff') format('woff'),
        url('./fonts/TTLakes-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }

    * {
        margin: 0;
        padding: 0;
        font-family: 'TT Lakes Regular';
      }

body {
        overflow-x: hidden;
        background: #F8F8F8;
      }

.services-tab__btn {
    font-size: 16px;
    justify-content: space-between;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
}

.services-tab__btn--active {
    border-radius: 6px ;
    opacity: 0px;    
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}



@media (min-width: 320px) {
    .header {
        height: 88px;
        background-color: white;
        border-bottom: solid 1px #D9FFF5;
    }
    
    .header-container {
        display: flex;
        justify-content: space-between;
    }
    
     .header-menu__btn {
        width: 40px;
        height: 40px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .header-menu__btn-burger {
        margin-left: 16px; 
        margin-right: 16.73px; 
    }
    
    .header-logo {
        width: 96.55px;
        height: 50.81px;
        margin-top: 18.59px;
        margin-bottom: 18.59px;
        margin-right: 16.73px;
    }

    .header-menu__btn-call {
        display: none;
    }

    .header-menu__btn-chat {
        display: none;
    }

    .header-menu__btn-profile {
        display: none;
    }
    
    .header-menu__btn-repair {
        margin-left: 20px;
    }

    .header-menu__btn-checkstatus {
        margin-left: 16px;
        margin-right: 16px; 
    }
  
    .header-menu__btn-repair::before {
        content: "";
        background-image: url('./images/divider.svg');
        background-repeat: no-repeat;
        position: absolute;
        width: 2px;
        height: 32px;
        top: 28px;
        left: 186px;
        gap: 0px;
        border-radius: 1px 0px 0px 0px;
        opacity: 0px;
    }

    .services-container {
        display: flex;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .services-container__line {
        border-left: 4px solid rgb(65, 246, 215);
        border-radius: 0px 8px 8px 0px;
        height: 40px;
    }

    .services-container__title {
        font-family: 'TT Lakes Bold';
        font-size: 28px;
        font-weight: bold;
        padding-left: 12px;
        color: rgb(27, 28, 33);

    }

    .services-tabs {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        margin-left: 16px;
        
    }

    .text {
        width: 288px;
        height: 90px;
        top: 240px;
        left: 16px;
        gap: 0px;
        opacity: 0px;
        overflow: hidden;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.2px;
        text-align: left;
        padding: 24px 16px 16px 16px;
    }

    .services-description__software {
        margin-top: 15px;
    }

    .services-more__link {
        color: rgb(27, 28, 33);
        font-family: TT Lakes;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-decoration: none;
        padding-left: 8px;
    }

    .services-more {
        display: flex;
    }

    .services-more__expand {
        padding-left: 16px;
    }

    .promo {
        margin-top: 16px;
    }

    .services-header__actions {
        display: none;
    }
}


@media (min-width: 768px) {
    .header-menu__btn-burger::after {
        content: "";
        background-image: url('./images/divider.svg');
        background-repeat: no-repeat;
        position: absolute;
        width: 2px;
        height: 32px;
        top: 28px;
        left: 84px;
        gap: 0px;
        border-radius: 1px 0px 0px 0px;
        opacity: 0px;
    }

    .header-menu__btn-burger {
        margin-left: 24px;
        margin-right: 42.73px;
    }

    .header-logo {
        position: relative;
        margin-right: 0px;
    }

    .header-menu__btn-call {
        display: initial;
        margin-left: 250.73px;
    }

    .header-menu__btn-chat {
        display: initial;
        margin-left: 16px;
    }

    .header-menu__btn-profile {
        display: initial;
        margin-left: 16px;
        margin-right: 0px;
    }

    .header-menu__btn-repair::before {
        content: "";
        background-image: url('./images/divider.svg');
        background-repeat: no-repeat;
        position: absolute;
        width: 2px;
        height: 32px;
        top: 28px;
        left: 626px;
        gap: 0px;
        border-radius: 1px 0px 0px 0px;
        opacity: 0px;
    }

    .header-menu__btn-repair {
        margin-left: 42px;
    }


    .header-menu__btn-checkstatus {
        margin-right: 24px;
    }

    .services-tabs {
        margin-left: 24px;
    }

    .text {
        padding-top: 32px;
        padding-bottom: 0px;
        overflow: hidden;
        width: 312px;
        height: 160px;
        top: 256px;
        left: 24px;
        gap: 0px;
        opacity: 0px;
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }

    .services-description__software {
        margin-top: 20px;
    }

    .services-more {
        margin-top: 10px;
    }

    .content-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        }
    
    .promo {
        width: 360px;
        height: 208px;
        top: 256px;
        left: 384px;
        gap: 0px;
        opacity: 0px;
        margin-top: 32px;
        }

    .services-header__actions {
        display: none;
    }
}


@media (min-width: 1120px) {
    .header {
        display: none;
        justify-content: space-between;
    }

    .services-container {
        margin-top: 42px;
    }

    .services-container__line {
        border-left: 3px solid rgb(65, 246, 215);
        border-radius: 0px 8px 8px 0px;
        height: 40px;
    }

    .services-container__title {
        font-size: 28px;
        padding-left: 30px;
    }

    .services-header__actions {
        display: initial;
        display: flex;
        justify-content: flex-end;
        gap: 32px;
    }

    .services-header__button-text {
        font-size: 16px; 
        font-family: TT Lakes;
        
    }

   .services-header__button {
        display: flex;
        align-items: center;
        gap: 8px;
   }

    .services-header__button--repair {
        padding-left: 441px;
    }

    .services-header__button--checkstatus {
        padding-right: 32px;
    }

    .text {
        overflow: hidden;
        width: 490px;
        height: 160px;
        top: 188.22px;
        left: 35px;
        gap: 0px;
        opacity: 0px;
        font-family: TT Lakes;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
    }

    .services-more {
        margin-top: 13.78px;
    }

    .promo {
        width: 531.35px;
        height: 307px;
        top: 179px;
        left: 561px;
    }
}